.idea/
*.iml
.gradle/
build/
**/bin/
local.properties
**/gradle-daemon-jvm.properties
.DS_Store
*.apk
*.aab
captures/
.cxx/
*.class
*.jar
!**/gradle/wrapper/gradle-wrapper.jar

# MoonBit
**/.moon/
**/_build/
**/target/
moon-errors.txt
moon-build.log

hosts/**/src/main/assets/guest.wasm
hosts/**/src/main/assets/border2d.wasm
